[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-script = "*"
flask = "*"
flask-restplus = "*"
flask-sqlalchemy = "*"
werkzeug = "==0.16.1"
pytest-flask = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-xdist = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8.2"
